{% extends 'oceansenseweb/base.html' %}
{% load static %}

{% block description %}
	Ocean Sense, Diverse Learning through Scuba, Non-Profitable Organization, Diver's School, Virginia Diving Organization, Learn Diving, Scuba Diving, PADI, Aquatic Life Preservation{% endblock %}


{% block title %}
	Ocean Sense Home | Welcome
{% endblock %}

{% block content %}
	<section class="container section-1">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h2 class="display-4">Ocean Sense - Diverse Learning through Scuba.</h2>
				<p>
					We are a non-profit organization with sole mission to educate, impact, and reach out to our community through Scuba training, charity, research and mission works. 
				</p>
				<button type="button" class="btn btn-primary btn-lg btn-block rounded-pill">Learn more</button>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				
			</div>
		</div>
	</section>
<!-- ./Section-1 ends -->
	<section class="container-fluid section-2">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">About Ocean Sense Scuba Diving</h2>
			<p>
				At Ocean Sense, we organize series of Scuba diving training program, to help traing desirous students that have chosen diving as career or for the love of diving.<br>We often announce our routine training on our website and our social media handles<br>You can take part in this routine. Just subscribe to our newsletter using the form at the bottom of the page. We will send you an email informing you about any upcoming event.
			</p>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="text-center">
				<img class="img-fluid pb-3" src="{% static 'imgs/universal-access-solid.svg' %}">
				</div>
				<div class="text-center">
					<h4>We reach out to all</h4>
				<button type="button" class="btn btn-primary btn-lg btn-block rounded-pill">Learn more</button>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="text-center">
					<img class="img-fluid pb-5" src="{% static 'imgs/hand-holding-heart-solid.svg' %}">
				</div>
				<div class="text-center">
					<h4>We are open to sponsorship</h4>
					<button type="button" class="btn btn-primary btn-lg btn-block rounded-pill">Contact us</button>
				</div>
			</div>
		</div>
	</section>
<!--Section-2 ends -->
	<section class="container-fluid section-3">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">About Ocean Sense</h2>
			<p>
				Ocean Sense is a non-profit organization with a primary mission of providing education, training, scientific reseach information, and consulting for the aspect of scuba diving related to conservation and ecology of the oceans for children. 
			</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="text-center">
					<h4>Who we are</h4>
					<p>
						We are Ocean Sense and we care about the ocean and its inhabitants. We preserve and we protect.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="text-center what-we-offer">
					<h4>What we offer</h4>
					<ul>
						<li>Charity</li>
						<li>Training</li>
						<li>Education</li>
						<li>Consulting</li>
						<li>Scientific Research</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="text-center">
					<h4>Our mission</h4>
					<p>
						Offer exclusive charitable, religious, educational and scientific to our community.
					</p>
				</div>
			</div>
		</div>
	</section>
	
<!--Section-3 ends -->
	<section class="container-fluid section-4">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">Ocean Sense - Suba</h2>
		</div>
		<div class="row">
			<div class="card-deck">
			  <div class="card" onmouseleave="showcardFooter();"  onmouseenter="hidecardFooter();" id="card-1">
			    <img src="{% static 'imgs/oceansense-1.jpg' %}" class="card-img-top" alt="oceansense-1">
			    <div class="card-body">
			      <h5 class="card-title">Ocean Sense Scuba Training</h5>
			      <p class="card-text">
			      	At Ocean Sense, our students are trained by high and experienced Divers. All done in fun and safety.
			      </p>
			    </div>
			    <div class="card-footer" id="footer-1">
			      <small class="text-muted">Learn more</small>
			    </div>
			  </div>
			  <div class="card" onmouseleave="showcardFooter1();"  onmouseenter="hidecardFooter1();"> 
			    <img src="{% static 'imgs/oceansense-2.jpg' %}" class="card-img-top" alt="oceansense-2">
			    <div class="card-body">
			      <h5 class="card-title">Ocean Sense diving certification</h5>
			      <p class="card-text">
			      	At Ocean Sense, we have professional Divers with many years of diving experience
			  	  </p>
			    </div>
			    <div class="card-footer" id="footer-2">
			      <small class="text-muted">Learn more</small>
			    </div>
			  </div>
			  <div class="card" onmouseleave="showcardFooter2();"  onmouseenter="hidecardFooter2();">
			    <img src="{% static 'imgs/oceansense-3.jpg' %}" class="card-img-top" alt="oceansense-3">
			    <div class="card-body">
			      <h5 class="card-title">Students - Enroll with Ocean Sense</h5>
			      <p class="card-text">
			      	Get registered as a student. We offer routine scuba training to selected and qualified students from our communities
			      </p>
			    </div>
			    <div class="card-footer" id="footer-3">
			      <small class="text-muted">Learn more</small>
			    </div>
			  </div>
			</div>
		</div>
	</section>
<!-- ./Section-4 ends here -->
	<section class="container-fluid section-5">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">Reaching out to communities</h2>
			<p>
				Ocean Sense is a non-profit organization with a primary mission of providing education, training, scientific reseach information, and consulting for the aspect of scuba diving related to conservation and ecology of the oceans for children. 
			</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<span><i class="fab fa-docker fa-5x"></i></span>
				<div class="text-center">
					<h4>Through Training</h4>
					<p>
						We concentrate more on bringing the best to our communities, and through training we have reached hundreds of kids desiring to dive.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<span><i class="fas fa-hands-helping fa-5x"></i></span>
				<div class="text-center what-we-offer">
					<h4>Through Charity</h4>
					<p>
						We put most of the money donated by sponsors and well wishers into charity and training of students in the communities.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<span><i class="fab fa-envira fa-5x"></i></span>
				<div class="text-center">
					<h4>Through Education/Research</h4>
					<p>
						Preserving the ocean and its residence is one of our core missions, and we do this through scientific research and educating the upcoming generation.
					</p>
				</div>
			</div>
		</div>
	</section>
<!-- ./Section-5 ends -->

<!-- Section6 starts here -->
	<section class="container-fluid section-6">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">Want to support Ocean Sense?</h2>
			<p>
				You can support our work by donating to the Ocean Sense 
			</p>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="text-center">
					<img src="{% static 'imgs/oceansense-diver-logo-560 x120-new.svg' %}" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="text-center">
					<span><i class="fas fa-donate fa-5x pb-3"></i></i></span>
					<p>
						<button type="button" class="btn btn-lg btn-primary rounded-pill">Donate</button>
					</p>
				</div>
			</div>
		</div>
	</section>
<!-- ./Section-6 ends -->

<!-- Section-7 starts here -->
	<section class="container-fluid section-7">
		<div class="text-center pb-5">
			<h2 class="display-4 pb-3">Contact us</h2>
			<p>
				You can support our work by donating to the Ocean Sense 
			</p>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="text-center">
					<img src="{% static 'imgs/oceansense-diver-logo-560 x120-new.svg' %}">
				</div>
				<div class="text-center-form">
					<form class="form-group">
					  <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email address">
					  <button type="button" class="btn btn-block btn-primary rounded-pill" value="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
<!-- ./Section-7 ends -->
{% endblock %}